@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MyWebApp.Models
@model MyWebApp.Models.Order
<form action="/Order/@Model.OrderId" method="post">
    <div>
        @Html.LabelFor(x => x.OrderDate)
        @Html.EditorFor(x => x.OrderDate)
    </div>
    <div>
        @Html.LabelFor(x => x.RequiredDate)
        @Html.EditorFor(x => x.RequiredDate)
    </div>
    <div>
        @Html.LabelFor(x => x.CompanyName)
        @Html.TextBoxFor(x => x.CompanyName)
    </div>
    <div>
        @Html.LabelFor(x => x.Address)
        @Html.TextAreaFor(x => x.Address)
    </div>
    <div>
@Html.Hidden("OrderId")

    </div>
    <button type="submit">submit</button>
</form>